<%- include('partials/top') %>
<main class="container-fluid" role="main"> <!-- Added role="main" for accessibility -->
    <h1 id="pageTitle"><%- title %></h1> <!-- Added id="pageTitle" for accessibility -->
    <%- content %>
</main>
<%- include('partials/bottom') %>