</div><!-- end of #content div-->
</body>
<footer class="footer mt-auto py-2 fixed-bottom bg-primary p-3" role="contentinfo" aria-label="Footer"> <!-- Added role="contentinfo" and aria-label="Footer" for accessibility -->
  &copy; Jonah Faas 2024
</footer>
</html>