<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/prism/prism.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<script src="/js/bootstrap.js"></script>		
		<script src="/prism/prism.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body class="mb-5">
		<nav class="navbar navbar-expand-lg bg-primary border-success" data-bs-theme="dark">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">JonahFaas.com</a>
				</div>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
						<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
					</ul>
				  </div>
			</div>
		</nav>
		<div class="" id="content">